<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add  name="conn"  connectionString="Data Source=101-28\MISASME2017;Initial Catalog=QLBANSACH;Integrated Security=True"
providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>